[defaults]
inventory = inventory/hosts.staging.yml
host_key_checking = False
stdout_callback = yaml
callbacks_enabled = timer, profile_tasks
ansible_managed = Ansible managed: CMSForNerd2 Static Orchestration (Optimised for UK English standards)
